
body{
	border: 1px solid transparent;
}

header{
	width: 100%;
	margin-top: 5.5rem;
	padding-bottom: 2rem;
	position: relative;
	border-bottom: 1px solid #cfcfcf;
}
/*header .main{
	left: 8%;
}*/
header .main img{
	float: left;
	margin-bottom: 2%;
}
header .main hr{
	border: 1px solid #c7c7c7;
}
.main{
	width: 86%;
	height: 100%;
	position: relative;
	left: 7%;
	top: 0;
	/*text-align: center;*/
	padding-top: 1.5%;
	box-sizing: border-box;
	overflow: hidden;
	/*background: red;*/
	font-size: 1.8rem;
}

header ul.ul_a{
	width: 50%;
	float: left;
	color:#525252 ;
	/*height: 100%;*/
	box-sizing: content-box;
	overflow: hidden;
	padding-left: 1%;
	
}
header ul li{
	float: left;
	font-size: 1.5rem;
	padding: 0 1%;
}
header .main a img:hover{
	transform: scale(1.5);
}
header ul.ul_a li:hover:first-child{
	transform: scale(1.2);
}
header ul.ul_a li:hover:nth-child(3){
	transform: scale(1.2);
}
header h3{
	font-size: 3rem;
	font-weight: normal;
	text-align: center;
	padding-bottom: 20px;
}
.content .main h3{
	font-size: 2rem;
	font-weight: normal;
	margin: 20px 0;
}
.content .main p{
	font-size: 1.6rem;
	color: #525252;
	margin-bottom: 25px;
}
.content .main img.pic{
	width: 100%;
}
.content ol{
	background: #f8f8f8;
	color: #525252;
	font-size: 1.6rem;
	padding:4% 6%;
}
.content ol li{
	margin-bottom: 3%;
	line-height: 2rem;
	list-style-type: decimal;
	
}
.content .sec_d ol{
	background: transparent;
	font-size: 1.6rem;
	padding:0;
	
}
.content .sec_d ol span{
	color: #c31b26;
}
.content section.sec_e{
	color: white;
	background: #474747;
	padding: 2% 4%;
}
.content section.sec_e p{
	color: white;
	margin-bottom: 20px;
}

.content .main .share{
	width: 278px;
	/*background: red;*/
	/*position: relative;
	top: 0;
	left:75% ;*/
	float: right;
	margin:4% 0;
	/**************************？？？？？？？？？？？？？？？？？？？？？？*/
}
.content .main .share p{
	color: #bdbdbd;
	height: 34px;
	line-height: 34px;
	display: inline;
	
}
.content .share img{
	position: relative;
	top: 7px;	
}
