/******************max-width=500px*************/

header ul.ul_a {
    width: 65%;
}
.content_a .a_box {
    width: 90%;
    margin: 5%;
}
.a_foot{
	width: 200px;
}
.a_foot ul{
	width: 100px;
	line-height: 26px;
	padding: 0px 15px;
}
.a_foot p{
	width: 50px;
	padding: 3px 6px;
}
footer .main{
	font-size: 1.4rem;
	padding-top: 0;
}
footer .main p.link{
	display: none;
}
footer .main ul{
	display: none;
}