/******************************max-width=800px*/
html{
	font-size: 7px;
}
.main h1 {
    font-size: 3rem;
}
nav{
	width: 100%;
}
nav ul.nav_{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background: #292929;	
}

nav .nav_ li{
	float: none;
	padding-left: 16px;
    font-size: 2.2rem;
    padding-bottom: 15px;
}
nav .nav_2 {
    height: 200%; 
    width: 75%;
    left: 0%;
}
nav .nav_2 .word{
	width: 100%;
	left: 0;
}
nav .nav_2 .word ul li{
	width: auto;
	padding-right: 20px;
	font-size: 1.8rem;
}
nav .nav_2 img{
	height: 60%;
	left: 5%;
}
nav .nav_2 .word hr {
    width: 88%;

}
nav img.phone{
	display: block;
	height: 100%;
	position: absolute;
	top: 10%;
	left: 80%;
}

header .main p:nth-child(2){
	display: none;
}

.content_a,.content_c,.content_e{
	height: 300px;
	background-attachment: scroll;
	background-position: 0 0;
	
}

.content_e .main{
	padding-top: 2%;
}
.content_e .main h1{
	font-size: 2.6rem;
}
.content_e .main input{
    height: 27px;
    width: 38%;
}
.content_e .main button {
    height: 27px;
    width: 88px;
}
.content_f .foot{
	width: 43%;

}
.content_f .main ul{
	margin-right: 10%;
}
.content_g .main h1 {
    font-size: 2.6rem;
}
.content_g .main {
    padding-top: 2%;
}
.content_g .main input {
    height: 26px;
    width: 34%;
}
.content_g .main button {
    width: 90px;
    height: 26px;
}