.main{
	width: 86%;
	height: 100%;
	position: relative;
	left: 7%;
	top: 0;
	text-align: center;
	padding-top: 7%;
	line-height: 3.5rem;
	box-sizing: border-box;
	overflow: hidden;
	/*background: red;*/
	font-size: 1.8rem;
	
}

.main h1{
	font-size:3.2rem;
	font-weight: normal;
	/*margin-bottom: 25px;*/
}
.content_a,.content_b,.content_c,.content_d,.content_e,.content_f{
	width: 100%;
	position: relative;
}
.content_a{
	width: 100%;
	height: 599px;
	background: url(../img/introduction/content_a_bac.jpg) no-repeat;
	background-size:100% ;
	background-attachment: fixed;
	
}

.content_b .main p,.content_d .main p,.content_f .main p{
	font-size: 2rem;
	margin-bottom: 9%;
}
.content_c{
	width: 100%;
	height: 600px;
	background: url(../img/introduction/content_c_bac.jpg) no-repeat;
	background-size:100% ;
	background-position: 0 67%;
	background-attachment: fixed;
}
.content_e{
	width: 100%;
	height: 601px;
	background: url(../img/introduction/content_e_bac.jpg) no-repeat;
	background-size:100% ;
	background-position: 0 67%;
	background-attachment: fixed;
}
.content_g{
	width: 100%;
	position: relative;
	background: black;
}
.content_g img.bac{
	width: 100%;
	display: block;
}

.content_g .main{
	color: white;
	position: absolute;
	padding-top: 5%;
}
.content_g .main .box{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
}
.content_g .main input{
	width: 55%;
	height: 42px;
	border-radius: 5px;
	padding-left: 15px;
	font-size: 1.6rem;
	color: black
	
}
.content_g .main button{
	width: 142px;
	height: 42px;
	padding:2px 10px;
	background: #c31b26;
	font-size: 1.8rem;
	border-radius: 5px;
	margin-left: 10px;
	font-size: 1.6rem;
	color: white;
}
.content_h{
	width: 100%;
	position: relative;
	
}
.content_h .main{
	text-align: left;
	padding-top: 3%;
	position: relative;
	
}
.content_h .main h1{
	color: #c31b26;
	font-size: 2rem;
	padding-bottom: 1%;
}

.content_h p{
	font-size: 1.6rem;
	color: #6c6c6c;
	padding: 15px ;
	padding-left: 6%;
	width: 50%;
}

.content_h p span{
	color: #db4e54;
}
.content_h .foot{
	width: 44%;
	position: absolute;
	right: 0;
	top: 12%;
}
.content_h .main ul{
	float: left;
	color: #6c6c6c;
	font-size: 1.6rem;
	margin-right: 14%;
	/*width: 17%;*/
}
.content_h .main ul a{
	color:#6c6c6c ;
}
.content_h .main li{
	margin-top: 10%;
}
.content_h .main ul li:first-child{
	color: black;
	margin-bottom: 25%;
}