
/******************************max-width=1120px*/


html{
	font-size: 9px;
}
nav ul.nav_{
	left: 35%;
	
}
nav .nav_ li {
    margin-right: 1%;
}
.main h1{
	font-size: 2.6rem;
}
.content_g .main{
	padding-top: 5%;
}
.content_g .main .box{
	width: 58%;
}
.content_g .main input{
	height: 33px;
}
.content_g .main button{
	height: 33px;
}
footer ul li:nth-last-child(1),footer ul li:nth-last-child(2),footer ul li:nth-last-child(3){
	display: none;
}

.content_h .foot ul:last-child{
	display: none;
}